.header__lang-link-item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF; 
  text-decoration-line: none;
 
}

.header__lang-link-item:hover {
  opacity: .8;
}

@media screen and (max-width: 320px) {
  .header__lang-link-item {
    font-size: 18px;
    line-height: 20px;
  }
}
