.page {
  box-sizing: border-box;
  padding: 0;
  background: #2A2C2F;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  
* {
  box-shadow: 0 0 2px red;
}  */