.cover__subtitle {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 360px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

@media (max-width: 767px) {
  .cover__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}