.place__paragraph-item {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

.place__paragraph-item:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph-item {
    font-size: 16px;
  }
}