.footer__links {
  margin: 0;
  padding: 0;
  display: flex;

  box-sizing: border-box;
  flex-direction: row;

}

@media screen and (max-width: 767px) {
  .footer__links {
    margin: 0 0 24px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
  }
}