@import url(../vendor/fonts/font.css);
@import url(../styles/normalize.css);


*{
  box-shadow: 0 0 2px red;
}
  

.page {
  /*max-width: 1280px;
  min-width: 320px;*/
  padding: 0;
  
  box-sizing: border-box;
  /*display: flex;
  flex-direction: column;

  box-sizing: border-box;
  justify-content: center;*/
  background: #2A2C2F;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;*/
  
}
.page__defaults {
  max-width: 1280px;
  margin: 0 auto;
}

/*
@media screen and (max-width: 1023px) {
  .page {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
*/




.header {

box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: flex-end;
padding: 28px 48px 0;


}


@media screen and (max-width: 1023px) {
  .header {
 
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}



.header__lang-link {
  box-sizing: border-box;
  margin-left: 18px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  color: #FFFFFF;
 
  text-decoration-line: none;
}

.header__lang-link:first-of-type {
  margin-left: 0;
}

.header__lang-link:hover {
  opacity: .5;
}


.header__lang-link_text-decoration-On {
  text-decoration-line: underline;
}

.header__lang-link_text-decoration-Off {
  text-decoration-line: none;  
}

.header__logo {
  margin: 0;
  padding: 0;
  
}




.lead {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  /* max-width: 984px; */
  padding: 50px 148px 98px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center; 
  /* margin: 0 auto; */
  
}

/* @media screen and (max-width: 1279px) {
  .lead {
    padding: 48px 48px 92px;
    
  }
}  */

@media screen and (max-width: 1023px) {
  .lead {
    padding: 48px 0 88px;
    /* max-width: 768px; */
  }
}
@media screen and (max-width: 767px) {
  .lead {
    padding: 48px 2px 64px;
    /* max-width: 320px; */
  }
}

.lead__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 720px;
  
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 32px;

}


@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    margin-bottom: 16px;
  }
}

.lead__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 640px;
  

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;


  text-align: center;

  margin: 0 auto;
  margin-bottom: 64px;

}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    
  }
}

.lead__image {
  max-width: 984px;
  
  margin-bottom: 8px;
  object-fit: cover;
  width: 100%;
}



.lead__image:hover {
  opacity: .8;
}

.lead__caption {
 
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */

letter-spacing: 1.5px;
text-transform: uppercase;

align-self: flex-start;
}
@media screen and (max-width: 1023px) {
  .lead__caption {
   padding-left: 24px;
    
  }
}


.intro  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 690px;
  padding-left: 148px;
  /*padding: 0 148px 0;
  /*padding-top: 98px;*/
}

@media screen and (max-width: 1279px) {
  .intro {
    padding-left: 48px;
    
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;   
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
    
  }
}

.intro__title{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
  
  /*margin: 0 auto;*/
  /*margin: 0 148px 0;*/
  margin-bottom: 40px;
}
.intro__text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
  margin-bottom: 33px;
}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
 
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
}

.photo-grid {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0 48px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 16px;
  row-gap:  16px;

  padding-top: 92px;
}



@media screen and (max-width: 1023px) {
  .photo-grid {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;   
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    
  }
}
.photo-grid__item {
  object-fit: cover;
  width: 100%;
}
.photo-grid__item:hover {
  opacity: .8;
}
.places {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 92px 148px 0;  
}

@media screen and (max-width: 1279px) {
  .places {
    padding: 92px 48px 0;  
  }
}

@media screen and (max-width: 1023px) {
  .places {
    padding: 88px 24px 0;  
    
  }
}

@media screen and (max-width: 767px) {
  .places {
   
    /*padding: 64px 16px 0;  */
     padding: 64px 0 0;  
  }
}

.place {
 
  display: grid;
  
  /*grid-template-columns: repeat(2, minmax(320px, 1fr));*/

  /*grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: minmax(min-content, max-content) 1fr;*/

  grid-template-columns: repeat(2, minmax(320px, 1fr));
 /* grid-template-rows: minmax(min-content, max-content) ;*/
  row-gap: 48px;
  column-gap: 32px;
  margin-bottom: 80px;
  grid-auto-flow: row;
}

@media screen and (max-width: 1279px) {
  .place {
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
    
  }
}

@media screen and (max-width: 1023px) {
  .place {
    row-gap: 48px;
    column-gap: 28px;
    margin-bottom: 73px;
    
  }
}


@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    /*padding-top: 64px;*/
    
    /*padding-bottom: 24px;*/
    
    /*flex-direction: row;
    align-items: center;*/

    /*grid-template-columns: 100%;*/
    row-gap: 32px;
    margin-bottom: 50px;
  }
}

.place__image {
  object-fit: cover;
  width: 100%;
}

.place__image:hover {
  opacity: .8;
}



.place__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    /*margin-bottom: 32px;  */
  }
}


@media screen and (max-width: 767px) {
  .place__title {
    padding-left: 16px;
    padding-right: 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;

   
  }
}


.place__website {
  padding: 0;
  margin: 0;
  align-self: end;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding-left: 16px;
    padding-right: 16px;
    
  }
}
.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.place__link {
  margin: 0;
  padding: 0;
  
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;


text-decoration-line: underline;

color: #FFFFFF;

}
.place__link:hover {
  opacity: .5;
}

.place__paragraph {
  margin: 0;
  padding: 0; 
}

.place__paragraph:last-of-type{
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
    
  }
}

.place__paragraph-item {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
}
@media screen and (max-width: 767px) {
  .place__paragraph-item:last-of-type {
    margin-bottom: 0;

   
  }
}
.cover {
  box-sizing: border-box;
  padding: 0;

  margin: 92px 0 0;
  padding-left: 48px;
  padding-right: 48px;

}

@media (max-width: 1279px) {
  .cover {
    margin: 92px 0 0;
    padding-left: 0;
    padding-right: 0;
  }
}


@media (max-width: 1023px) {
  .cover {
    margin: 90px 0 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 66px 0 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.cover__link {
  margin: 0 auto;
  min-height: 740px;  
  /*max-width: 1184px;*/
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  position: relative;
  text-decoration: none;
  

}

@media (max-width: 1279px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 1023px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    min-height: 369px;
  }
}



.cover__link:before {
	content: "";
	position: absolute;
  
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/cover-trains.jpg);
}

.cover__link:hover:before {
	opacity: .8;
}


.cover__title{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
  font-style: normal;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;
  z-index: 1;
}

@media (max-width: 767px) {
  .cover__title {
    font-weight: 900;
font-size: 32px;
line-height: 35px;
max-width: 288px;
  }
}

.cover__subtitle{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 360px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
  
  }

  @media (max-width: 767px) {
    .cover__subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }
  }

.footer {
  box-sizing: border-box;

 

  padding: 92px 48px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
    
  }
}

@media screen and (max-width: 767px) {
  .footer {
    
    padding-top: 64px;
    padding-left: 16px;
    padding-bottom: 24px;
    flex-direction: column;  
    align-items: flex-start;
  }
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  
  
  box-sizing: border-box;
  flex-direction: row;
  list-style: none;
  margin-right: 18px;
 
}
@media screen and (max-width: 767px) {
  .footer__links {
   
    gap: 32px;
  }
}

.footer__link {
  margin: 0;
  padding: 0;
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: none;


  color: #FFFFFF;

  margin-right: 18px;
  display: flex;
 
}


.footer__link:hover {
  opacity: .5;
}

@media screen and (max-width: 767px) {
  .footer__link {
   
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__links {
    padding: 0;
    margin: 0 0 24px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}



.footer__copyright {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;

}

