@import url(../vendor/fonts/font.css);
@import url(../styles/normalize.css);


*{
  box-shadow: 0 0 2px red;
}
  

.page {
  max-width: 1280px;
  padding: 0;
  /*display: flex;
  flex-direction: column;

  box-sizing: border-box;
  justify-content: center;*/
  background: #2A2C2F;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
}

.page__section {
  /*margin: 0 auto;*/
  padding: 0 48px;
} 

.header {
  /*
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 1280px;
*/
box-sizing: border-box;
display: flex;
justify-content: space-between;
align-items: flex-end;
/*flex: 1;*/
padding: 0 48px 0;
  
  
 /*padding-top: 28px;
  /*margin: 28px 48px;*/
 /* display: flex;
  justify-content:space-between;*/
 
 
}

.header__lang-link {
  box-sizing: border-box;
  margin-left: 18px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  color: #FFFFFF;
 
  text-decoration-line: none;
}
.header__lang-link:hover {
  opacity: .5;
}


.header__lang-link_text-decoration-On {
  text-decoration-line: underline;


}

.header__lang-link_text-decoration-Off {
  text-decoration-line: none;

  
}

.header__logo {
  
}
.lead {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  padding: 56px 148px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.lead__title {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 720px;
  
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 100px;
text-align: center;

  margin: 0 auto;
  margin-bottom: 32px;

}
.lead__subtitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 640px;
  

  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;


text-align: center;

  margin: 0 auto;
  margin-bottom: 64px;

}
.lead__image {
  margin-bottom: 8px;
}
.lead__caption {
 
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */

letter-spacing: 1.5px;
text-transform: uppercase;
}

.intro  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 690px;
  margin: 0 148px 0;
  padding-top: 98px;
}

.intro__title{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
font-style: normal;
font-weight: 900;
font-size: 54px;
line-height: 58px;
  
  /*margin: 0 auto;*/
  /*margin: 0 148px 0;*/
  margin-bottom: 40px;
}
.intro__text{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
  margin-bottom: 33px;
}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
 
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
}

.photo-grid {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0 48px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  column-gap: 16px;
  row-gap:  16px;

  padding-top: 92px;
}
.photo-grid__item {
  object-fit: cover;
  width: 100%;
}
.photo-grid__item:hover {
  opacity: .8;
}
.places {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

 
  padding: 92px 148px 0;

 
  
}
.place {
 
  display: grid;
  
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  row-gap: 48px;
  column-gap: 40px;
  margin-bottom: 80px;
}

.place__image {
  object-fit: fill;
  width: 100%;
}
.place__image:hover {
  opacity: .8;
}

.place__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  
}
.place__website {
  padding: 0;
  margin: 0;
  align-self: end;
}
.place__url-heading {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}
.place__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;


text-decoration-line: underline;

color: #FFFFFF;

}
.place__link:hover {
  opacity: .5;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  
}
.place__paragraph-item {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 163%;
}

.cover {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*padding-top: 92px;*/
  
  
  background-repeat: no-repeat;
  min-height: 740px;
  background-position: center;
  max-width: 1280px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/cover-trains.jpg);
  /*background-origin: content-box;*/

  
  /*background-size: 867px 637px;
  position: relative;
  background-color: #f2f2f2;*/
  margin: 92px 48px 0;
  padding-left: 48px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}
.cover:hover {
  opacity: .8;
}

.cover__title{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
  font-style: normal;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 32px;


}

.cover__subtitle{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 360px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  
  }


.footer {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  padding: 0 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 92px;
  padding-bottom: 24px;
  box-sizing: border-box;
  flex-direction: row;
  list-style: none;
  margin-right: 18px;
 

}

.footer__link {
  margin: 0;
  padding: 0;
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: none;


color: #FFFFFF;

  margin-right: 18px;
 

}
.footer__link:hover {
  opacity: .5;
}

.footer__copyright {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;

  padding-top: 92px;
  padding-bottom: 24px;


}