

 *{
  box-shadow: 0 0 2px red;
}


.page {
  width: 1280px;
  padding: 0;
  /*display: flex;
  flex-direction: column;

  box-sizing: border-box;
  justify-content: center;*/
  margin: 0 auto;
}

.header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 28px 48px 56px; 
 
 
}