.lead__caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;

  letter-spacing: 1.5px;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}