.place {
  display: grid;

  grid-template-columns: repeat(2, minmax(320px, 1fr));
  row-gap: 48px;
  column-gap: 32px;
  margin-bottom: 80px;
  grid-auto-flow: row;
}

@media screen and (max-width: 1279px) {
  .place {
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;

  }
}

@media screen and (max-width: 1023px) {
  .place {
    row-gap: 48px;
    column-gap: 28px;
    margin-bottom: 73px;

  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 32px;
    margin-bottom: 50px;
  }
}